
    <link rel="stylesheet" href="/css/style.css">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <header class="site-header">
        <button class="menu-toggle" aria-label="Abrir menú">
            <ion-icon name="menu-outline"></ion-icon> </button>
        <nav id="main-nav">
            <a href="/" class="nav-link"><ion-icon name="home"></ion-icon>Home</a>
            <a href="/informacion" class="nav-link"><ion-icon name="information-circle"></ion-icon>Informacion</a>
            <a href="/servicios" class="nav-link"><ion-icon name="build"></ion-icon>Servicios</a>
            <a href="/contacto" class="nav-link"><ion-icon name="mail"></ion-icon>Contacto</a>
            <a href="/admin/contacts" class="nav-link"><ion-icon name="mail"></ion-icon>tabla de contactos</a>
            <a href="/payment" class="nav-link"><ion-icon name="mail"></ion-icon>pagar</a>
        </nav>
        <div id="search">
            <label for="search-input"> <input type="text" id="search-input" placeholder="Buscar...">
                <ion-icon name="search"></ion-icon>
            </label>
        </div>
    </header>
    <script src="/js/menu.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script> 
    <script src="/bootstrap/js/bootstrap.min.js"></script>