<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jardines Sagitario</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <main>
        <section style="background-image: url('https://images.pexels.com/photos/4842474/pexels-photo-4842474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); padding: 0%;">
            <div class="home opa">
                <h1>Jardines Sagitario: Tu vivero de Confianza</h1>
                <p class="subtitle">Servicios de jardineria, cuidados especiales para tus plantas.</p>
                <div class="cta-buttons">
                    <a href="/servicios" class="btn btn-primary">Nuestros Servicios <i class="bi bi-boxes"></i></a>
                    <a href="/contacto" class="btn btn-light">Necesitas Asesoria <i class="bi bi-pencil-square"></i></a>
                </div>
            </div> 
        </section>
    
        <section>
            <div class="beneficios">
                <h2>¿Por Qué Elegir Jardines Sagitario</h2>
                <div class="reasons-grid">
                    <div class="reason-item">
                        <h3>Expertos Calificados</h3>
                        <p>Nuestro equipo tiene años de experiencia en el area de jardineria y mantenimiento de las areas verdes de tu hogar o comunidad.</p>
                    </div>
                    <div class="reason-item">
                         <h3>eficiencia y conciencia natural </h3>
                        <p>Es un placer darles la bienvenida a Jardines Sagitario, un lugar donde la pasión por la naturaleza se convierte en belleza para su hogar, su empresa y sus espacios más preciados.</p>
                    </div>
                    <div class="reason-item">
                         <h3>Conocimiento verde</h3>
                        <p>creemos que cada planta, cada flor y cada diseño paisajístico cuenta una historia: la historia de crecimiento, de armonía y de bienestar.</p>
                    </div>
                        <div class="reason-item">
                         <h3>Asesoramineto de jardineria</h3>
                        <p>trabajamos con dedicación y amor para ofrecerles lo mejor en jardinería, con productos de calidad y asesoramiento especializado que transformarán cualquier rincón en un verdadero oasis verde.</p>
                    </div>
                </div>
            </div>
        </section>
    
        <section style="background-image: url('https://images.pexels.com/photos/8189078/pexels-photo-8189078.jpeg'); padding: 0%;">
            <div class="opa">
                <h2>Nuestra Trayectoria</h2>
                <div class="trajectory-content">
                    <p>Nos preocupamos por ofrecer un servicio cálido, amable y siempre dispuesto a ayudar.
                        Al elegirnos, no solo compras plantas, sino que te unes a un movimiento que busca embellecer el mundo con naturaleza y bienestar. 🌿🌎.</p>
                    <p>Hoy, Jardines Sagitario es sinónimo de compromiso con el Medio Ambiente. Promovemos prácticas sostenibles como el uso de fertilizantes naturales, compostaje y técnicas ecológicas de cultivo.</p>
                </div>
            </div>
        </section>
    
        <section id="services-summary" class="section bg-light">
            <div class="container">
                <h2>Ofrecemos</h2>
                <div class="service-types">
                    <div class="service-type-item">
                        <h3>Podas y cuidado de plantas</h3>
                        <p>para mantenerlas saludables y con buen aspecto.</p>
                    </div>
                    <div class="service-type-item">
                        <h3>Instalación de sistemas de riego</h3>
                        <p>ajustados a las necesidades del espacio.</p>
                    </div>
                </div>
                <p class="text-center"><a href="/servicios" class="btn btn-outline">Ver Listado de Servicios</a></p>
            </div>
        </section>
    
        <section class="info-extra">
                <h2>¿Necesitas Ayuda para Empezar con tu jardien?</h2>
                <p>¡No esperes más! Contáctanos o visítanos para un asesoramiento rapido.</p>
                <a href="/contacto" class="btn btn-light btn-large">¡Contáctanos Ahora! <i class="bi bi-send-fill"></i></a>
        </section>
    </main>
    <%- include('partials/footer.ejs')%>
</body>
</html>