<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CICLEXPRESS</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <main>
        <section id="home">
            <div>
                <h2>Bienvenido a CICLEXPRESS</h2>
                <p>Tu tienda de bicicletas en línea.</p>
            </div>
        </section>
        <section>
            quienes somos
        </section>
        <section>
            porque elergirnos
        </section>
        <section>
            opiniones de nuestros clientes
        </section>
    </main>
    <%- include('partials/footer.ejs')%>
</body>
</html>