<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CICLEXPRESS</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <main>
        <div id="info">
            <h2>Acerca de nosotros</h2>
            <p>Un taller de reparación de bicicletas y patinetas eléctricas como "Ciclexpress" puede ofrecer múltiples beneficios y ventajas, tanto para los clientes como para los propietarios del negocio. Aquí te dejo algunos puntos destacados: 
                <br>
                <br>
                <p>1. <b>Movilidad sostenible:</b> Las bicicletas y patinetas eléctricas son medios de transporte ecológicos y económicos. Un taller que garantice su mantenimiento fomenta su uso, ayudando a reducir la contaminación y promoviendo un estilo de vida más saludable.</p>
                <br>
                <p>2. Demanda creciente: Con el aumento del uso de patinetas eléctricas y bicicletas en las ciudades, la necesidad de servicios de reparación y mantenimiento está en constante crecimiento. Esto asegura un flujo constante de clientes.</p>
                <br>
                <p>3. Seguridad para los usuarios: Un mantenimiento adecuado garantiza que los vehículos estén en óptimas condiciones, reduciendo el riesgo de accidentes y ofreciendo viajes más seguros y agradables.</p>
                <br>
                <p>4. Oportunidad de negocio: Además de las reparaciones, se pueden ofrecer servicios adicionales como la venta de repuestos, accesorios y personalización de los vehículos, lo que diversifica las fuentes de ingresos.</p>
                <br>
                <p>5. Conexión con la comunidad: Un taller como "Ciclexpress" puede convertirse en un punto de encuentro para ciclistas y usuarios de patinetas, creando una comunidad activa y leal alrededor del negocio.</p>
            </p>
        </div>
    </main>
    <%- include('partials/footer.ejs')%>
</body>
</html>