<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios Jardines Sagitario</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include('partials/header.ejs')%>
    <main>
        <section class="home h-s">
            <h1>Servicios Experto en Jardineria</h1>
            <p class="subtitle">Cuidar plantas no es solo una tarea; es un arte, una conexi칩n con la naturaleza y una forma de transformar cualquier espacio en un refugio verde. Ya sea que tengan experiencia o est칠n comenzando en el mundo de la jardiner칤a, este taller les brindar치 herramientas pr치cticas y conocimientos esenciales para cultivar plantas saludables y jardines vibrantes.</p>
        </section>
    
        <section class="servicios">
            <h2>Destalles de Nuestros Servicios</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <a href="/payment">
                        <div class="card h-100">
                            <img src="https://images.pexels.com/photos/4750272/pexels-photo-4750272.jpeg">
                            <div class="card-body">
                              <h5 class="card-title">- Mantenimiento de jardines</h5>
                              <p class="card-text">Podas, fertilizaci칩n y limpieza para mantener el jard칤n siempre saludable y hermoso.</p>
                            </div>
                          </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/payment">
                        <div class="card h-100">
                            <img src="https://images.pexels.com/photos/17326319/pexels-photo-17326319/free-photo-of-cesped-aspersor-tubo-metro.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                            <div class="card-body">
                              <h5 class="card-title">- Instalaci칩n de sistemas de riego</h5>
                              <p class="card-text">Dise침o e implementaci칩n de riego autom치tico o por goteo seg칰n las necesidades del espacio.</p>
                            </div>
                          </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/payment">
                        <div class="card h-100">
                            <img src="https://images.pexels.com/photos/158028/bellingrath-gardens-alabama-landscape-scenic-158028.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                            <div class="card-body">
                            <h5 class="card-title">Dise침o de jardines personalizados</h5>
                            <p class="card-text">- Planificaci칩n y evaluaci칩n del espacio: Se analiza el tama침o, la orientaci칩n, el tipo de suelo y las condiciones clim치ticas para determinar qu칠 plantas y estructuras se pueden incorporar.
                                - Selecci칩n de plantas adecuadas: Es esencial elegir especies que se adapten bien al clima, al tipo de suelo y a la cantidad de luz disponible.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/payment">
                        <div class="card h-100">
                            <img src="https://images.pexels.com/photos/6231714/pexels-photo-6231714.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                            <div class="card-body">
                              <h5 class="card-title">- Venta de insumos de jardiner칤a</h5>
                              <p class="card-text">Herramientas, fertilizantes, macetas y todo lo necesario para el cuidado de las plantas.</p>
                            </div>
                          </div>
                    </a>   
                </div>
                <div class="col">
                    <a href="/payment">
                        <div class="card h-100">
                            <img src="https://images.pexels.com/photos/4975360/pexels-photo-4975360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                            <div class="card-body">
                              <h5 class="card-title">Control de plagas y enfermedades</h5>
                              <p class="card-text">Diagn칩stico de plagas: Inspecci칩n del jard칤n para identificar insectos da침inos, hongos, bacterias o enfermedades que afecten las plantas.
                                - M칠todos de control natural: Uso de soluciones ecol칩gicas como insectos beneficiosos, extractos naturales y rotaci칩n de cultivos para reducir la presencia de plagas.</p>
                            </div>
                          </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/payment">
                        <div class="card h-100">
                            <img src="https://images.pexels.com/photos/7342665/pexels-photo-7342665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                            <div class="card-body">
                              <h5 class="card-title">Asesor칤a en jardiner칤a</h5>
                              <p class="card-text">Consejos sobre el cuidado de especies espec칤ficas y optimizaci칩n de espacios verdes.
                                Con estos servicios, la tienda podr칤a brindar soluciones completas para amantes de la jardiner칤a.游
                                - Selecci칩n de plantas adecuadas: Recomendaciones seg칰n el clima, tipo de suelo y condiciones del espacio.</p>
                            </div>
                          </div>
                    </a>
                </div>
              </div>
        </section>
    
        <section class="info-extra">
                 <h2>Contactanos Hoy Mismo</h2>
                 <p>Estamos listos, para crear un mundo diferente.</p>
                 <a href="/contacto" class="btn btn-light btn-large">Solicitar Cita o Presupuesto</a>
         </section>
    </main>
    <%- include('partials/footer.ejs')%>
</body>
</html>