<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CICLEXPRESS</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <main>
        <div id="servicios">
            <h2>Nuestros servicios</h2>
            <div id="opciones">
                <div class="servicio">
                    <h3>Reparación de baterías</h3>
                    <p>
    
                    </p>
                </div>
                <div class="servicio">
                    <h3>Mantenimiento General</h3>
                    <p>
                        
                    </p>
                </div>
                <div class="servicio">
                    <h3>Diagnostico y reparacion de motores electricos</h3>
                    <p>
                        
                    </p>
                </div>
                <div class="servicio">
                    <h3>Revision del sistema electrico</h3>
                    <p>
                        
                    </p>
                </div>
                <div class="servicio">
                    <h3>PAS</h3>
                    <p>
                        
                    </p>
                </div>
                <div class="servicio">
                    <h3>Mantenimiento de Frenos</h3>
                    <p>
                        
                    </p>
                </div>
                <div class="servicio">
                    <h3>Sustitucion de Piezas</h3>
                    <p>
                        
                    </p>
                </div>
                <div class="servicio">
                    <h3>Perzonalizacion</h3>
                    <p>
                        
                    </p>
                </div>
                
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs')%>
</body>
</html>