:root{
    --fondo: #fadcd5;
    --opacidad: rgba(0, 0, 0, 0.5);
    --font-1: #1b0c1a;
    --font-2: #fadcd5;
    --font-3: #fadcd5;
    --blue: #1b0c1a;
}
.beneficios .reasons-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    text-align: center;
    .reason-item {
        padding: 10px;
        max-width: 200px;
        border: 10px 60px 30px #4b2138;
        border-radius: 10px 60px 30px;
        background-color: #6d3c52;
        box-shadow: 0 5px 10px #4802ed;
        
        i{
            font-size: 5em; 
            color: #1b0c1a;
            margin-bottom: 10px;
        }
    }
}
.cta-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.trajectory-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
    p {
        flex-grow: 1;
    }
}
#services-summary .service-types {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     gap: 50px;
     text-align: center;
     .service-type-item {
        padding: 20px;
        border: 1px #6d3c52;
        border-radius: 10px 60px 30px;
         background-color: #6d3c52;
         box-shadow: 0 5px 10px rgba(0,0,0,0.05);
         i {
            font-size: 3em;
            color: #1b0c1a;
            margin-bottom: 15px;
       }
    }
}

@media (max-width: 768px) {
    h1 { font-size: 2em; }
    h2 { font-size: 1.8em; }
    h3 { font-size: 1.3em; }

    .beneficios .reasons-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
        text-align: center;
        .reason-item {
            padding: 10px;
            max-width: 250px;
            border: 1px solid #fadcd5;
            i {
                font-size: 3em; 
                color: #1b0c1a;
                margin-bottom: 15px;
            }
        }
    }

    .cta-buttons{
        justify-content: center; /* Asegura que los botones sigan centrados en pantallas pequeñas */
    }

    .trajectory-content {
        gap: 20px; /* Reduce el espacio entre los párrafos en pantallas pequeñas */
        padding: 20px 10px; /* Reduce el padding en pantallas pequeñas */
    }
}
