.h-s {
    padding: 80px 5%;
    background-color: cyan;
    h1 {
        color: #0056b3;
   }
   .subtitle {
    font-size: 1.2em;
    color: #555;
    max-width: 800px;
    margin: 0 auto 20px auto;
}
}
.servicios{
    padding: 5%;
        a{
            text-decoration: none;
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }   
}