*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
:root{
    --boton: #3ba7d6;
    --head: #3ba7d6;
    --opacidad: rgba(0, 0, 0, 0.5);
    --footer: #2a1140;
    --font-1: #000;
    --font-2: #fff;
    --font-3: #999;
}
.section{
    padding: 5%;
}
.site-header {
    position: fixed;
    display: flex;
    color: var(--font-2);
    justify-content: space-between;
    align-items: center;
    background-color: var(--head);
    padding: 10px 20px;
    width: 100%;
}
#main-nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    outline: none;
    color: var(--font-2);
    display: flex;
    align-items: center;
}

.nav-link ion-icon {
    margin-right: 5px;
}
#search{
    background-color: var(--font-2);
    border-radius: 5px;
    max-width: 40%;
    display: flex;
    color: var(--font-1);
    padding: 5px;
    justify-content: space-between;
}
#search input {
    outline: none;
    border: none;
}

/* Ocultar el botón de menú por defecto (en pantallas grandes) */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
}
.menu-toggle ion-icon{
    color: var(--font-2);
    font-size: 40px;

}

/* --- Media Query para Pantallas Pequeñas --- */
@media (max-width: 768px) {

    .site-header {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
    }

    .menu-toggle {
        display: block;
    }

    #search {

         order: 1; 
    }


    /* Estilos para el menú lateral */
    #main-nav {
        position: fixed;
        top: 0;
        left: -250px; 
        width: 250px;
        height: 100%;
        background-color: var(--head);
        flex-direction: column; 
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0,0,0,0.2);
        transition: left 0.3s ease; 
        z-index: 100; 
        overflow-y: auto;

        /* Ocultar los enlaces normales */
        display: none; 
    }

    /* Mostrar el menú cuando tiene la clase 'active' (manejado por JS) */
    #main-nav.active {
        left: 0;
        display: flex; 
    }

    .nav-link {
        padding: 10px 0; 
        width: 100%;
    }


}
footer{
    font-size: larger;
    width: 100%;
    background-color: var(--footer);
    color: white;
    padding: 10px;
    text-align: center;
}
footer #redes{
    font-size: 30px;
}