/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('https://getwallpapers.com/wallpaper/full/6/5/9/12928.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #333;
    line-height: 1.8;
}